<section class="px-8 gradient-bg text-white min-h-screen">
  <app-nav></app-nav>
  <div class="flex flex-col lg:flex-row items-center justify-between px-8 py-4">
    <!-- Left: Text -->
    <div class="max-w-lg space-y-6">
      <h1 class="text-6xl font-bold leading-snug">Transfert d’argent facile</h1>
      <p class="lg:text-2xl sm:text-3xl">
        Envoyez et recevez d’argent en toute sécurité et fiabilité avec notre
        plateforme.
      </p>
      <button
        class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-3 px-6 rounded"
      >
        Commencez maintenant
      </button>
    </div>

    <!-- Right: Illustration -->
    <div class="mt-10 lg:mt-0 max-w-md w-full">
      <img
        src="../../../../assets/ransfer-illustration.png"
        alt="Transfert illustration"
        class="w-full h-auto"
      />
    </div>
  </div>
</section>
